<main class="main oh" id="main">

    <!-- Navigation -->
    <header class="nav">

      <div class="nav__holder nav--sticky">
        <div class="container relative">

          <div class="flex-parent">

            <!-- Mobile Menu Button -->
            <button class="nav-icon-toggle" id="nav-icon-toggle" aria-label="Open mobile menu">
              <span class="nav-icon-toggle__box">
                <span class="nav-icon-toggle__inner"></span>
              </span>
            </button> <!-- end mobile menu button -->

            <!-- Logo -->
            <a href="" class="logo">
              YIPSTER
            </a>

            <!-- Nav-wrap -->
            <nav class="flex-child nav__wrap d-none d-lg-block">              
              <ul class="nav__menu">

                <li class="nav__dropdown active">
                  <a href="index.html">Home</a>
                  <ul class="nav__dropdown-menu">
                    <li>
                      <a href="index.html">Home Demo 1</a>
                    </li>
                    <li>
                      <a href="index-2.html">Home Demo 2</a>
                    </li>
                    <li>
                      <a href="index-3.html">Home Demo 3</a>
                    </li>
                  </ul>
                </li>

                <li class="nav__dropdown">
                  <a href="categories.html">Posts</a>
                  <ul class="nav__dropdown-menu">
                    <li><a href="single-post.html">Gallery Post</a></li>
                    <li><a href="single-post.html">Video Post</a></li>
                    <li><a href="single-post.html">Audio Post</a></li>
                    <li><a href="single-post.html">Quote Post</a></li>
                  </ul>
                </li>

                <li class="nav__dropdown">
                  <a href="catalog.html">Pages</a>
                  <ul class="nav__dropdown-menu">
                    <li><a href="categories.html">Categories</a></li>
                    <li><a href="about.html">About</a></li>                    
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="404.html">404</a></li>
                  </ul>
                </li>

                <li class="nav__dropdown">
                  <a href="catalog.html">Features</a>
                  <ul class="nav__dropdown-menu">
                    <li><a href="lazyload.html">Lazy Load</a></li>
                    <li><a href="shortcodes.html">Shortcodes</a></li>
                  </ul>
                </li>

                <li>
                  <a href="#">Purchase</a>
                </li>


              </ul> <!-- end menu -->
            </nav> <!-- end nav-wrap -->

            <!-- Nav Right -->
            <div class="nav__right nav--align-right d-none d-lg-flex">

              <!-- Socials -->
              <div class="nav__right-item socials socials--nobase nav__socials "> 
                <a class="social-facebook" href="#" target="_blank">
                  <i class="ui-facebook"></i>
                </a>
                <a class="social-twitter" href="#" target="_blank">
                  <i class="ui-twitter"></i>
                </a>
                <a class="social-youtube" href="#" target="_blank">
                  <i class="ui-youtube"></i>
                </a>
              </div>

              <div class="nav__right-item">
                <a href="" class="nav__subscribe" data-toggle="modal" data-target="#subscribe-modal">Subscribe</a>
              </div>

              <!-- Search -->
              <div class="nav__right-item nav__search">
                <a href="#" class="nav__search-trigger" id="nav__search-trigger">
                  <i class="ui-search nav__search-trigger-icon"></i>
                </a>
                <div class="nav__search-box" id="nav__search-box">
                  <form class="nav__search-form">
                    <input type="text" placeholder="Search an article" class="nav__search-input">
                    <button type="submit" class="nav__search-button btn btn-md btn-color btn-button">
                      <i class="ui-search nav__search-icon"></i>
                    </button>
                  </form>
                </div>
                
              </div>

            </div> <!-- end nav right -->  
        
          </div> <!-- end flex-parent -->
        </div> <!-- end container -->

      </div>
    </header> <!-- end navigation -->
    
    <div class="main-container" id="main-container">
      <!-- Hero Slider -->
      

      <!-- Ad Banner 728 -->
      <div class="text-center">

      </div>    

      <!-- Content -->
      <section class="section-wrap pb-0">
        <div class="container">
          <div class="row">

            <!-- Posts -->
            <div class="col-md-8 blog__content mb-30">

              <h3 class="section-title">Noticias Recientes</h3>

              <article class="entry post-list">                
                <div class="entry__img-holder post-list__img-holder">
                  <a href="single-post.html">
                    <div class="thumb-container">
                      <img data-src="img/blog/list_post_img_1.jpg" src="img/blog/list_post_img_1.jpg" class="entry__img lazyload" alt="" />
                    </div>
                  </a>
                </div>

                <div class="entry__body post-list__body">
                  <div class="entry__header">
                    <a href="categories.html" class="entry__meta-category">devices</a>
                    <h2 class="entry__title">
                      <a href="single-post.html">Satelite cost tens of millions or even hundreds of millions of dollars to build</a>
                    </h2>
                    <ul class="entry__meta">
                      <li class="entry__meta-date">
                        21 October, 2017
                      </li>
                      <li class="entry__meta-author">
                        by <a href="#">DeoThemes</a>
                      </li>
                    </ul>
                  </div>
                  <div class="entry__excerpt">
                    <p>Point of Sale hardware, the till at a shop check out, has become very complex over the past ten years. Modern POS hardware includes the cash till, bar-code readers...</p>
                  </div>
                </div>
              </article>

              <article class="entry post-list">                
                <div class="entry__img-holder post-list__img-holder thumb-container">
                  <a href="single-post.html">
                    <img data-src="img/blog/list_post_img_2.jpg" src="img/blog/list_post_img_2.jpg" class="entry__img lazyload" alt="" />
                  </a>
                </div>

                <div class="entry__body post-list__body">
                  <div class="entry__header">
                    <a href="categories.html" class="entry__meta-category">tesla cars</a>
                    <h2 class="entry__title">
                      <a href="single-post.html">Advance Uber’s mission of bringing safe, reliable transportation to everyone</a>
                    </h2>
                    <ul class="entry__meta">
                      <li class="entry__meta-date">
                        21 October, 2017
                      </li>
                      <li class="entry__meta-author">
                        by <a href="#">DeoThemes</a>
                      </li>
                    </ul>
                  </div>
                  <div class="entry__excerpt">
                    <p>Point of Sale hardware, the till at a shop check out, has become very complex over the past ten years. Modern POS hardware includes the cash till, bar-code readers...</p>
                  </div>
                </div>
              </article>

              <article class="entry post-list">                
                <div class="entry__img-holder post-list__img-holder thumb-container">
                  <a href="single-post.html">
                    <img data-src="img/blog/list_post_img_3.jpg" src="img/blog/list_post_img_3.jpg" class="entry__img lazyload" alt="" />
                  </a>
                </div>

                <div class="entry__body post-list__body">
                  <div class="entry__header">
                    <a href="categories.html" class="entry__meta-category">robotics</a>
                    <h2 class="entry__title">
                      <a href="single-post.html">VR and playable on a console makes it a great option to PC related VR headsets</a>
                    </h2>
                    <ul class="entry__meta">
                      <li class="entry__meta-date">
                        21 October, 2017
                      </li>
                      <li class="entry__meta-author">
                        by <a href="#">DeoThemes</a>
                      </li>
                    </ul>
                  </div>
                  <div class="entry__excerpt">
                    <p>Point of Sale hardware, the till at a shop check out, has become very complex over the past ten years. Modern POS hardware includes the cash till, bar-code readers...</p>
                  </div>
                </div>
              </article>

              <article class="entry post-list">                
                <div class="entry__img-holder post-list__img-holder thumb-container">
                  <a href="single-post.html">
                    <img data-src="img/blog/list_post_img_4.jpg" src="img/blog/list_post_img_4.jpg" class="entry__img lazyload" alt="" />
                  </a>
                </div>

                <div class="entry__body post-list__body">
                  <div class="entry__header">
                    <a href="categories.html" class="entry__meta-category">aircraft</a>
                    <h2 class="entry__title">
                      <a href="single-post.html">NASA is best known for building rockets and spacecraft</a>
                    </h2>
                    <ul class="entry__meta">
                      <li class="entry__meta-date">
                        21 October, 2017
                      </li>
                      <li class="entry__meta-author">
                        by <a href="#">DeoThemes</a>
                      </li>
                    </ul>
                  </div>
                  <div class="entry__excerpt">
                    <p>Point of Sale hardware, the till at a shop check out, has become very complex over the past ten years. Modern POS hardware includes the cash till, bar-code readers...</p>
                  </div>
                </div>
              </article>

              <article class="entry post-list">                
                <div class="entry__img-holder post-list__img-holder thumb-container">
                  <a href="single-post.html">
                    <img data-src="img/blog/list_post_img_5.jpg" src="img/blog/list_post_img_5.jpg" class="entry__img lazyload" alt="" />
                  </a>
                </div>

                <div class="entry__body post-list__body">
                  <div class="entry__header">
                    <a href="categories.html" class="entry__meta-category">Devices</a>
                    <h2 class="entry__title">
                      <a href="single-post.html">Digital cameras are always changing, adding new features</a>
                    </h2>
                    <ul class="entry__meta">
                      <li class="entry__meta-date">
                        21 October, 2017
                      </li>
                      <li class="entry__meta-author">
                        by <a href="#">DeoThemes</a>
                      </li>
                    </ul>
                  </div>
                  <div class="entry__excerpt">
                    <p>Point of Sale hardware, the till at a shop check out, has become very complex over the past ten years. Modern POS hardware includes the cash till, bar-code readers...</p>
                  </div>
                </div>
              </article>

            </div> <!-- end posts -->

            <!-- Sidebar -->
            <aside class="col-md-4 sidebar sidebar--right">
              
              

              <!-- Widget Newsletter -->
              <div class="widget widget_mc4wp_form_widget">
                <h4 class="widget-title">Subscribe for Neotech news and receive daily updates</h4>
                <form id="mc4wp-form-1" class="mc4wp-form" method="post">
                  <div class="mc4wp-form-fields">
                    <p>
                      <i class="mc4wp-form-icon ui-email"></i>
                      <input type="email" name="EMAIL" placeholder="Your email" required="">
                    </p>
                    <p>
                      <input type="submit" class="btn btn-md btn-color" value="Subscribe">
                    </p>
                  </div>
                </form>
              </div> <!-- end widget newsletter -->

              

              <!-- Widget Banner -->
              <div class="widget widget_media_image">
                <a href="#">
                  <img src="img/blog/placeholder_300.jpg" alt="">
                </a>
              </div> <!-- end widget banner -->

            </aside> <!-- end sidebar -->
      
          </div>
        </div>
      </section> <!-- end content -->

      




