<!-- Sidebar -->

<aside class="col-md-4 sidebar sidebar--right" style="margin-top: 3em;">

  {% include suscribe.html %}

    <!-- Widget Banner -->
  <div class="widget widget_media_image">
    <a href="http://mag.yipster.co" target="_blank">
      <img src="{{site.url}}/img/mag-add.jpg" alt="">
    </a>
  </div> 
  <!-- end widget banner -->

  <!-- Widget socials -->
  <div class="widget widget-socials">
    <h4 class="widget-title">encuéntranos también en</h4>
    <ul class="socials">
      <li>
        <a class="social-facebook" href="https://www.facebook.com/yipster.crypto.7" title="facebook" target="_blank">
          <i class="ui-facebook"></i>
          <span class="socials__text">Facebook</span>
        </a>
      </li>
      <li>
        <a class="social-twitter" href="https://twitter.com/yipster0" title="twitter" target="_blank">
          <i class="ui-twitter"></i>
          <span class="socials__text">Twitter</span>
        </a>
      </li>
      <li>
        <a class="social-instagram" href="https://www.instagram.com/yipster.co" title="instagram" target="_blank">
          <i class="ui-instagram"></i>
          <span class="socials__text">Instagram</span>
        </a>
      </li>
    </ul>
  </div> 
  <!-- end widget socials -->


</aside> <!-- end sidebar -->