  <!-- Widget Newsletter -->
  <div class="widget widget_mc4wp_form_widget">
    <h4 class="widget-title">Suscríbete para recibir las noticias más relevantes sobre criptomonedas, blockchain e inversión.</h4>
    <form id="mc4wp-form-1" class="mc4wp-form" action="https://yipster.us16.list-manage.com/subscribe/post" method="post" name="mc-embedded-subscribe-form" target="_blank" >
    	<input type="hidden" name="u" value="5f32d5ce6f71b5ccbbe71c693">
		<input type="hidden" name="id" value="acd6e27fbf">
      	<div class="mc4wp-form-fields">
        <p>
          <i class="mc4wp-form-icon ui-email"></i>
          <input type="email" name="email" name="MERGE0" id="MERGE0" placeholder="juan.perez@ejemplo.com" required="">
        </p>
        <p>
          <input type="submit" class="btn btn-md btn-color" value="Suscríbete">
        </p>
      </div>
    </form>
    <input type="hidden" name="ht" value="d8f92fe4af9d27e9cf95de2f1e2544e735ac655e:MTUwMTk5MDc0MS45Mzc1">
    <input type="hidden" name="mc_signupsource" value="hosted">
  </div> <!-- end widget newsletter -->


