<div class="card">
	<div class="card-block">
        <div class="row align-items-center">
            <div class="col-md-12 col-lg-7 mb-sm-2" >
                <h5 class="card-title" style="color:#000;" id="newsletter">Newsletter</h5>
        		<p class="card-text" style="color:#000;">Suscríbete para recibir en tu correo nuestras notificaciones semanales con noticias, reportes, guías, cursos y promociones.</p>
            </div>
            <!-- /.col-md-8 -->
            <div class="col-md-12 col-lg-5">
				<form class="form-inline" action="https://yipster.us16.list-manage.com/subscribe/post" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" >
                    <input type="hidden" name="u" value="5f32d5ce6f71b5ccbbe71c693">
                    <input type="hidden" name="id" value="acd6e27fbf">
                	<input type="email" class="form-control mr-2" name="MERGE0" id="MERGE0" placeholder="juan.perez@ejemplo.com" required="">

                	<button type="submit" name="submit" class="btn btn-primary">Suscribirme</button>
                    
                </form>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->
	</div>
    <input type="hidden" name="ht" value="d8f92fe4af9d27e9cf95de2f1e2544e735ac655e:MTUwMTk5MDc0MS45Mzc1">
    <input type="hidden" name="mc_signupsource" value="hosted">
</div>